{% extends 'crud/base.html' %}

{% block body %}
  <div class="container my-5">
    <h2 class="text-center mb-4">College Attendance</h2>
    <form>
      <div class="form-row mb-3">
        <div class="col-md-4">
          <label for="course">Course</label>
          <input type="text" class="form-control" id="course" placeholder="Enter course name">
        </div>
        <div class="col-md-4">
          <label for="subject">Subject</label>
          <input type="text" class="form-control" id="subject" placeholder="Enter subject name">
        </div>
        <div class="col-md-4">
          <label for="semester">Semester</label>
          <input type="text" class="form-control" id="semester" placeholder="Enter semester">
        </div>
      </div>
      <div class="form-row mb-3">
        <div class="col-md-4">
          <label for="date">Date</label>
          <input type="date" class="form-control" id="date">
        </div>
        <div class="col-md-4">
          <label for="time">Time</label>
          <input type="time" class="form-control" id="time">
        </div>
        <div class="col-md-4">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" placeholder="Enter location">
        </div>
      </div>
      <div class="form-group">
        <label for="attendanceList">Attendance List</label>
        <textarea class="form-control" id="attendanceList" rows="10" placeholder="Enter names of students"></textarea>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-4">Submit</button>
    </form>
  </div>
{% endblock %}
